* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: rgb(208, 241, 245);
}

.animated-button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
}

.animated-button:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.animated-button:active {
  transform: scale(0.95);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#code-container {
  max-width: 1000px;
  min-height: 150px;
  margin: 0 auto;
  padding: 10px;
  border-radius: 15px;
  background: #fff;
  box-shadow: 5px 5px 10px rgba(113, 8, 8, 0.1);
}
